# Copy this file to: /home/exouser/.config/echodataflow/services.env
# Then adjust values as needed.

# Name of conda environment to run services in
ECHODATAFLOW_ENV=echodataflow_20260604

# Full path to mamba executable
MAMBA_BIN=/home/exouser/miniforge3/bin/mamba

# Prefect worker pool name
PREFECT_POOL=local
